/* Typography Styles -------------------- */
// Headings
//
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$roboto: 'Roboto', sans-serif;
body{
    font-family: 'Roboto', sans-serif;
}


h1, h2,.h1, .h2 {
    margin-bottom: $headings-margin-bottom;
    font-family: $roboto;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $brand-primary-color;

    &:after{
        content: '';
        width: 15px;
        height: 15px;
        background:#faf8f0;
        border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%;
        display: inline-block; 
        margin-left: .4rem; 
        border: 3px solid $brand-primary-color;

    }
}

h1, .h1 { 
    font-family: $roboto;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: $brand-primary-color;

    @include media-breakpoint-up(lg){
        font-size: 4rem;
        line-height: 4.3rem;
    }
}
h1.text-white, h2.text-white, .h1.text-white, .h2.text-white{
    &:after{
        background:transparent;
        border-radius: 100% 0% 0% 100% / 0% 30% 70% 100%;
        display: inline-block; 
        margin-left: .4rem; 
        border: 3px solid $brand-light;

    }
}

h2, .h2 { @include font-size($h2-font-size); }
h3, .h3 { @include font-size($h3-font-size); }
h4, .h4 { @include font-size($h4-font-size); }
h5, .h5 { @include font-size($h5-font-size); }
h6, .h6 { @include font-size($h6-font-size); }

p {
	font-family: $roboto;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
    letter-spacing: normal;
    color: $brand-grey;
}