//Custom variables

// Descriptive color variables
//$brown: #b08443;

// Functional color variables
$black: black;
$white: white;

$brand-primary-color: #08394c;
$brand-grey: #5a5a5a;
$brand-second: #dd4053;
$brand-light: #faf8f0;


// Asset paths
// $path-image   :   '../img';
// $path-fonts   :  '../fonts';
