.form-control {
    font-family: $hind;
    color: $black;
}
select{
    height: calc(1.8em + 0.75rem + 2px);
    font-size: 1.1em!important;
    appearance: none!important;
    background-color: #f4f4f4; 
    background-image: url("../../assets/img/iconos/angle-down-solid.png")!important;
    background-repeat: no-repeat!important;
    background-position: right 1rem center!important;
    background-size: 10px!important;
    color:$black!important;
    option{
        color: $brand-grey!important;
    }
    
}

.form-control:focus {
    color: $black!important;
    background-color: $white;
    border-color: #cecac938;
    outline: 0;
    box-shadow: 0 0 0 0.14rem rgba(85, 75, 72, 0.25);
}

//style checkbox
.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 16px;
    width: 16px;
    border: 2px solid $primary;
    left: 0px;
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid $primary;
    border-bottom: 2px solid $primary;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}