.title-store{
    width: 100%;
}
.btn-stores{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contenedor-img{
    min-height: 340px;
}
.bg-image-header{
    width: 100%;
    top: 1rem;
    left: 0;
    min-height: 266px;
    position: absolute;
    @include media-breakpoint-up(lg){
        width: 100%;
        top: 3rem;
        left: 0;
        min-height: 464px;
    }
}


@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) { 
    .title-store{
        width: 100%;
        margin-left: 1.2rem;
    }
    .btn-stores{
        width: 100%;
    }
    .contenedor-img{
        min-height: 580px;
    }
    .bg-image-header{
        position: absolute;
        width: 104%;
        top: 2rem;
        min-height: 720px;
    }
}
@include media-breakpoint-up(lg) { 
    .title-store{
        width: 49%;
    }
    .btn-stores{
        width: 45%;
    }
    .contenedor-img{
        min-height: 520px;
    }
    .bg-image-header{
        width: 100%;
        min-height: 460px;
    }
}