.form{
    padding: 2rem 1rem;
    margin-top: 0rem;
}
.afiliacion{
    padding-bottom: 3rem!important;
    margin-bottom: 2rem!important;
}
.bg-section-blue{
    border-radius: .9rem;
    background-size: cover;
    background-position: center;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 80%
}

.container-image{
    width: 100%;
    height: 700px;
    position: relative;

    .image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        border-radius: .9rem;
    }
    .image-1{
        width: 60%;
        height: 30%;
        right: 0;
        top: 0;
    }
    .image-2{
        width: 90%;
        height: 70%;
        left: 5%;
        top: 25%;
    }

    .image-3{
        width: 80%;
        height: 40%;
        right: 0;
        bottom: -10%;
    }
}

@include media-breakpoint-up(md) { 
    .form{
        margin-top: -6rem;
        padding: 3rem 4.3rem;
    }
    .afiliacion{
        margin-bottom: 4rem!important;
        padding-bottom: 3rem!important;
    }
    .bg-section-blue{
        top: -25%;
        width: 75%;
        height: 128%;
    }

    .container-image{
        width: 50%;
        height: 700px;
        .image{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            border-radius: .9rem;
        }
        .image-1{
            width: 60%;
            height: 25%;
            right: 0rem;
            top: 0;
        }
        .image-2{
            width: 90%;
            height: 60%;
            left: 1rem;
            top: 20%;
        }
        .image-3{
            width: 80%;
            height: 35%;
            right: 0rem;
            bottom: 0%;
        }
    }

}

@include media-breakpoint-up(lg) { 
    .form{
        margin-top: -8rem;
    }
    .afiliacion{
        padding-bottom: 3rem!important;
        margin-bottom: 4rem!important;
    }
    .bg-section-blue{
        top: -27%;
        width: 72%;
        height: 130%;
    }
    .container-image{
        width: 50%;
        height: 500px;
        position: relative;
        .image-1{
            width: 42%;
            height: 45%;
            right: -1rem;
        }
        .image-2{
            width: 55%;
            height: 85%;
            left: 1rem;
            top: 8%;
        }
        .image-3{
            width: 70%;
            height: 60%;
            right: -1rem;
            bottom: -8%;
        }
    }
    
}

@include media-breakpoint-up(xl) { 
    .bg-section-blue{
        width: 72%;
    }
    .container-image{
        width: 50%;
        height: 600px;
        position: relative;
        .image-1{
            width: 42%;
            height: 45%;
            right: -4rem;
        }
        .image-2{
            width: 60%;
            height: 85%;
            left: 1rem;
            top: 8%;
        }
        .image-3{
            width: 70%;
            height: 50%;
            right: -4rem;
            bottom: 0;
        }
    }
}

@media screen and(min-width: 1450px){
    .bg-section-blue{
        width: 66%;
    }
}